.verify-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.verify {
    width: 400px;
    height: 400px;
    padding: 1rem;
    background-color: var(--primayClr);
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verify h4 {
    margin: 1rem;
}

.btn-head-verify {
    display: flex;
    justify-content: center;
}